C 0 50 "A \NWC\NAC" -150 100 0 0 41 0 L
X "INPUT_LOAD" "(*,*)" -75 150 0.00 0.00 41 0 0 0 0 0 1 0 0
X "OUTPUT_LOAD" "(*,*)" -75 200 0.00 0.00 41 0 0 0 0 0 1 0 0
X "BIDIRECTIONAL" "TRUE" -75 250 0.00 0.00 41 0 0 0 0 0 0 0 80
P "BODY_TYPE" "FLAG" 0 50 0.00 0.00 41 0 0 0 0 0 0 0 0
X "HDL_PORT" "INOUT" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
L 0 50 0 0 -1 0
L 0 0 -25 -25 -1 0
L -25 -25 -25 -150 -1 0
L 25 -150 25 -25 -1 0
L 25 -25 0 0 -1 0
L -31 -22 0 9 -1 0
L -31 -153 -31 -22 -1 0
L 31 -22 31 -153 -1 0
L 0 9 31 -22 -1 0
L -29 -23 0 6 -1 0
L -29 -152 -29 -23 -1 0
L 29 -23 29 -152 -1 0
L 0 6 29 -23 -1 0
L -27 -24 0 3 -1 0
L -27 -151 -27 -24 -1 0
L 27 -24 27 -151 -1 0
L 0 3 27 -24 -1 0
L 0 -175 25 -150 -1 0
L -25 -150 0 -175 -1 0
L 0 -178 27 -151 -1 0
L -27 -151 0 -178 -1 0
L 0 -181 29 -152 -1 0
L -29 -152 0 -181 -1 0
L -31 -153 0 -184 -1 0
L 0 -184 31 -153 -1 0
P "PATH" "?" -15 -95 0.00 0.00 41 0 0 0 0 0 1 0 0
P "NEEDS_NO_SIZE" "TRUE" 25 25 0.00 0.00 41 0 0 0 0 0 0 0 0
P "OFFPAGE" "TRUE" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
