C -50 0 "A" -100 0 0 0 41 0 L
X "VHDL_PORT" "AOUT" -35 -70 0.00 0.00 41 0 0 0 0 1 1 0 80
X "HDL_PORT" "AOUT" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
L -25 -25 -25 25 -1 16
L -25 0 -50 0 -1 16
L -25 25 0 0 -1 16
L 0 0 -25 -25 -1 16
L 125 0 100 -25 -1 16
L 100 25 125 0 -1 16
L -25 -25 100 -25 -1 16
L -25 25 100 25 -1 16
T 7 -16 0.00 0.00 35 0 0 0 0 3 68
OUT
P "PATH" "?" 0 50 0.00 0.00 41 0 0 0 0 0 0 0 80
P "OFFPAGE" "TRUE" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
