L -150 0 150 0 -1 0
T -120 10 0.00 0.00 41 0 0 0 0 6 0
DEFINE
P "X_STEP" "1" -225 -200 0.00 0.00 41 0 0 0 0 1 1 0 0
P "X_FIRST" "0" -175 -100 0.00 0.00 41 0 0 0 0 1 1 0 0
P "SIZE" "1" 25 75 0.00 0.00 41 0 0 0 0 0 1 0 0
