C -200 0 "INPUT \NAC" -675 0 0 0 41 0 L
C 200 0 "OUTPUT <SIZE-1..0> \NAC" 250 0 0 0 41 0 L
L 150 100 150 -50 -1 0
L -150 -50 -150 50 -1 0
L -150 -50 150 -50 -1 0
L 150 0 200 0 -1 0
L -200 0 -150 0 -1 0
L 150 100 -150 50 -1 0
T -145 -10 0.00 0.00 33 0 0 0 0 9 0
REPLICATE
P "BODY_TYPE" "PLUMBING" 25 25 0.00 0.00 41 0 0 0 0 0 0 0 0
P "SIZE" "1B" -50 100 0.00 0.00 41 0 0 0 0 0 1 0 0
P "HDL_REPLICATE" "TRUE" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
