C 0 50 "A \NWC\NAC" -150 100 0 0 41 0 L
X "INPUT_LOAD" "(*,*)" -75 150 0.00 0.00 41 0 0 0 0 0 1 0 0
P "BODY_TYPE" "FLAG" 50 50 0.00 0.00 41 0 0 0 0 0 0 0 0
P "NEEDS_NO_SIZE" "TRUE" -75 -75 0.00 0.00 41 0 0 0 0 0 0 0 0
P "PATH" "?" -15 -95 0.00 0.00 41 0 0 0 0 0 1 0 0
X "HDL_PORT" "IN" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
L 0 0 0 50 -1 0
L 0 0 -25 -25 -1 0
L -25 -25 -25 -150 -1 0
L -25 -150 25 -150 -1 0
L 25 -150 25 -25 -1 0
L 25 -25 0 0 -1 0
L -31 -22 0 9 -1 0
L -31 -156 -31 -22 -1 0
L 31 -156 -31 -156 -1 0
L 31 -22 31 -156 -1 0
L 0 9 31 -22 -1 0
L -29 -23 0 6 -1 0
L -29 -154 -29 -23 -1 0
L 29 -154 -29 -154 -1 0
L 29 -23 29 -154 -1 0
L 0 6 29 -23 -1 0
L -27 -24 0 3 -1 0
L -27 -152 -27 -24 -1 0
L 27 -152 -27 -152 -1 0
L 27 -24 27 -152 -1 0
L 0 3 27 -24 -1 0
P "OFFPAGE" "TRUE" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
