C 100 0 "OUTPUT <SIZE-1..0> \NAC" 200 0 0 0 41 0 L
C -150 0 "INPUT \NAC" -675 0 0 0 41 0 L
L 50 -25 50 25 -1 0
L -100 0 50 -25 -1 0
L -100 0 -150 0 -1 0
L 50 0 100 0 -1 0
L -100 0 50 25 -1 0
T 15 -10 0.00 0.00 33 0 0 0 0 1 0
*
P "BODY_TYPE" "PLUMBING" -25 25 0.00 0.00 41 0 0 0 0 0 0 0 0
P "SIZE" "1B" 50 50 0.00 0.00 41 0 0 0 0 0 1 0 0
P "HDL_REPLICATE" "TRUE" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
