C -50 0 "A" -100 0 0 0 41 0 L
X "VHDL_PORT" "BUFFER" -35 -70 0.00 0.00 41 0 0 0 0 0 0 0 80
L 0 25 0 -25 -1 16
L 125 0 100 -25 -1 16
L 100 25 125 0 -1 16
L 0 25 100 25 -1 16
L 0 -25 100 -25 -1 16
L 0 0 -50 0 -1 16
T 7 -16 0.00 0.00 35 0 0 0 0 3 68
BUF
P "PATH" "?" 0 50 0.00 0.00 41 0 0 0 0 0 0 0 80
