C 0 -50 "B \NWC" -100 -125 1 1 0 -50 0 -4 0 41 0 L
C 0 50 "A \NWC" -100 100 1 0 0 4 0 50 0 41 0 L
P "BODY_TYPE" "PLUMBING" 50 0 0.00 0.00 41 0 0 0 0 0 0 0 0
B
("A \NWC","B \NWC")
END
P "NEEDS_NO_SIZE" "TRUE" 25 25 0.00 0.00 41 0 0 0 0 0 0 0 0
P "HDL_NOT" "TRUE" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
L 0 -3 0 3 -1 0
L -50 25 50 -25 -1 0
