C 50 0 "A \NWC\NAC" 100 0 0 0 41 0 L
X "OUTPUT_LOAD" "(*,*)" 100 -50 0.00 0.00 41 0 0 0 0 0 1 0 0
P "BODY_TYPE" "FLAG" 50 50 0.00 0.00 41 0 0 0 0 0 0 0 0
P "NEEDS_NO_SIZE" "TRUE" 25 25 0.00 0.00 41 0 0 0 0 0 0 0 0
P "PATH" "?" -110 -15 0.00 0.00 33 0 0 0 0 0 0 0 0
X "HDL_PORT" "OUT" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
L -128 -31 -159 0 -1 0
L 6 -31 -128 -31 -1 0
L 6 31 6 -31 -1 0
L -128 31 6 31 -1 0
L -159 0 -128 31 -1 0
L 4 -29 -127 -29 -1 0
L 4 29 4 -29 -1 0
L -127 29 4 29 -1 0
L -156 0 -127 29 -1 0
L -126 -27 -153 0 -1 0
L 2 -27 -126 -27 -1 0
L 2 27 2 -27 -1 0
L -126 27 2 27 -1 0
L -153 0 -126 27 -1 0
L 0 -25 -125 -25 -1 0
L 0 25 0 -25 -1 0
L -125 25 0 25 -1 0
L -125 -25 -150 0 -1 0
L -150 0 -125 25 -1 0
L 50 0 0 0 -1 0
L -127 -29 -156 0 -1 0
P "OFFPAGE" "TRUE" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
