C 50 0 "B \NWC" 125 0 1 0 4 0 50 0 0 41 0 L
C -50 0 "A \NWC" -350 0 1 1 -50 0 -4 0 0 41 0 L
P "BODY_TYPE" "PLUMBING" 0 -50 0.00 0.00 41 0 0 0 0 0 0 0 0
B
("A \NWC","B \NWC")
END
P "NEEDS_NO_SIZE" "TRUE" 25 -25 0.00 0.00 41 0 0 0 0 0 0 0 0
P "HDL_NOT" "TRUE" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
L -25 -50 25 50 -1 0
L -3 0 3 0 -1 0
