C 0 -50 "A \NWC\NAC" -175 -100 0 0 41 0 L
X "OUTPUT_LOAD" "(*,*)" -100 -150 0.00 0.00 41 0 0 0 0 0 1 0 0
P "BODY_TYPE" "FLAG" 50 -50 0.00 0.00 41 0 0 0 0 0 0 0 0
P "NEEDS_NO_SIZE" "TRUE" -75 75 0.00 0.00 41 0 0 0 0 0 0 0 0
P "PATH" "?" -15 55 0.00 0.00 41 0 0 0 0 0 1 0 0
X "HDL_PORT" "OUT" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
L 0 150 -25 125 -1 0
L -25 125 -25 0 -1 0
L -25 0 25 0 -1 0
L 25 0 25 125 -1 0
L 25 125 0 150 -1 0
L -31 128 0 159 -1 0
L -31 -6 -31 128 -1 0
L 31 -6 -31 -6 -1 0
L 31 128 31 -6 -1 0
L 0 159 31 128 -1 0
L -29 127 0 156 -1 0
L -29 -4 -29 127 -1 0
L 29 -4 -29 -4 -1 0
L 29 127 29 -4 -1 0
L 0 156 29 127 -1 0
L -27 126 0 153 -1 0
L -27 -2 -27 126 -1 0
L 27 -2 -27 -2 -1 0
L 27 126 27 -2 -1 0
L 0 153 27 126 -1 0
L 0 0 0 -50 -1 0
P "OFFPAGE" "TRUE" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
