C 50 0 "A \NWC\NAC" 100 0 0 0 41 0 L
X "BIDIRECTIONAL" "TRUE" 50 100 0.00 0.00 41 0 0 0 0 0 0 0 80
X "INPUT_LOAD" "(*,*)" 100 -50 0.00 0.00 41 0 0 0 0 0 1 0 0
X "OUTPUT_LOAD" "(*,*)" 100 -100 0.00 0.00 41 0 0 0 0 0 1 0 0
P "BODY_TYPE" "FLAG" 0 50 0.00 0.00 41 0 0 0 0 0 0 0 0
X "HDL_PORT" "INOUT" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
L 50 0 0 0 -1 0
L -175 0 -150 25 -1 0
L -150 -25 -175 0 -1 0
L -178 0 -151 27 -1 0
L -151 -27 -178 0 -1 0
L -181 0 -152 29 -1 0
L -152 -29 -181 0 -1 0
L -184 0 -153 31 -1 0
L -153 -31 -184 0 -1 0
L -22 -31 9 0 -1 0
L -153 -31 -22 -31 -1 0
L -22 31 -153 31 -1 0
L 9 0 -22 31 -1 0
L -23 -29 6 0 -1 0
L -152 -29 -23 -29 -1 0
L -23 29 -152 29 -1 0
L 6 0 -23 29 -1 0
L -24 -27 3 0 -1 0
L -151 -27 -24 -27 -1 0
L -24 27 -151 27 -1 0
L 3 0 -24 27 -1 0
L -25 -25 0 0 -1 0
L -150 -25 -25 -25 -1 0
L -25 25 -150 25 -1 0
L 0 0 -25 25 -1 0
P "PATH" "?" -145 -15 0.00 0.00 33 0 0 0 0 0 1 0 0
P "NEEDS_NO_SIZE" "TRUE" 25 25 0.00 0.00 41 0 0 0 0 0 0 0 0
P "OFFPAGE" "TRUE" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
