P "CDS_LMAN_SYM_OUTLINE" "-8050,5425,125,-175" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
M 125 5401 -8025 5401 -1 0
M 125 -163 125 5401 -1 0
M -8025 -163 -8025 5401 -1 0
M 125 -163 -8025 -163 -1 0
L 120 5336 -7966 5336 -1 0
L 120 5336 120 -158 -1 0
L -7966 5336 -7966 -158 -1 0
L -7966 -158 120 -158 -1 0
M -3918 249 124 249 -1 0
M 125 41 -3916 41 -1 0
M -800 -54 -3918 -54 -1 0
M -3917 248 -3917 -158 -1 0
L -2998 5336 -2998 5400 -1 0
L -5998 5336 -5998 5400 -1 0
M -798 246 -798 -149 -1 0
M -3516 38 -3516 -155 -1 0
M -378 40 -378 -159 -1 0
L -4996 5338 -4996 5402 -1 0
L -3998 5338 -3998 5402 -1 0
L -1996 5338 -1996 5402 -1 0
L -996 5338 -996 5402 -1 0
L -6996 5338 -6996 5402 -1 0
L -7964 1326 -8026 1326 -1 0
L -7964 2652 -8026 2652 -1 0
L -7962 3976 -8024 3976 -1 0
M -2648 -162 -2648 245 -1 0
T -2615 118 0 0 64 0 0 0 0 6 0
MODEL:
T -2616 -134 0 0 52 0 0 0 0 12 0
DRAWING NO.:
T -3750 109 0 0 64 0 0 0 0 15 0
NTS Technology
T -2623 -27 0 0 52 0 0 0 0 6 0
TITLE:
T -3880 -131 0 0 52 0 0 0 0 7 0
CHECKED
T -778 -81 0 0 52 0 0 0 0 8 0
VERSION:
T -776 104 0 0 52 0 0 0 0 11 0
SHEET    OF
T -7986 -154 90 0 26 0 0 0 0 8 0
SIZE:A4+
T -3835 -27 0 0 52 0 0 0 0 5 0
DRAWN
T -7978 4614 90 0 41 0 0 0 0 1 0
A
T -7978 3302 90 0 41 0 0 0 0 1 0
B
T -7978 1974 90 0 41 0 0 0 0 1 0
C
T -7976 650 90 0 41 0 0 0 0 1 0
D
T -7512 5352 0 0 41 0 0 0 0 1 0
1
T -6524 5348 0 0 41 0 0 0 0 1 0
2
T -4518 5352 0 0 41 0 0 0 0 1 0
4
T -3528 5348 0 0 41 0 0 0 0 1 0
5
T -2512 5350 0 0 41 0 0 0 0 1 0
6
T -1510 5350 0 0 41 0 0 0 0 1 0
7
T -5512 5352 0 0 41 0 0 0 0 1 0
3
T -512 5352 0 0 41 0 0 0 0 1 0
8
P "COMMENT_BODY" "TRUE" 104 -38 0 0 40 0 0 0 0 0 0 0 0


