P "CDS_LMAN_SYM_OUTLINE" "-7050,5100,150,-200" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
M -800 -54 -3916 -54 -1 0
L 120 -158 -6960 -158 -1 0
L 120 5042 120 -158 -1 0
L -6960 5042 -6960 -158 -1 0
L 120 5042 -6960 5042 -1 0
M 125 -163 -7027 -163 -1 0
M 125 5095 125 -163 -1 0
M -7027 -163 -7027 5095 -1 0
M 125 5095 -7027 5095 -1 0
M -3918 249 124 249 -1 0
M 125 41 -3916 41 -1 0
M -3917 248 -3917 -158 -1 0
L -4994 5042 -4994 5094 -1 0
L -5994 5042 -5994 5094 -1 0
L -6964 1251 -7026 1251 -1 0
L -6964 2502 -7026 2502 -1 0
M -799 247 -799 -157 -1 0
M -3516 40 -3516 -157 -1 0
M -378 40 -378 -159 -1 0
M -2648 -162 -2648 245 -1 0
L -3996 5044 -3996 5096 -1 0
L -2996 5044 -2996 5096 -1 0
L -1996 5044 -1996 5096 -1 0
L -996 5044 -996 5096 -1 0
L -6962 3752 -7024 3752 -1 0
T -2615 118 0 0 64 0 0 0 0 6 0
MODEL:
T -6986 -154 90 0 26 0 0 0 0 7 0
SIZE:A4
T -3750 109 0 0 64 0 0 0 0 15 0
NTS Technology
T -2623 -27 0 0 52 0 0 0 0 6 0
TITLE:
T -2616 -134 0 0 52 0 0 0 0 12 0
DRAWING NO.:
T -3880 -131 0 0 52 0 0 0 0 7 0
CHECKED
T -778 -81 0 0 52 0 0 0 0 8 0
VERSION:
T -776 104 0 0 52 0 0 0 0 11 0
SHEET    OF
T -3835 -27 0 0 52 0 0 0 0 5 0
DRAWN
T -6978 4375 90 0 41 0 0 0 0 1 0
A
T -6978 3125 90 0 41 0 0 0 0 1 0
B
T -6978 1875 90 0 41 0 0 0 0 1 0
C
T -6978 625 90 0 41 0 0 0 0 1 0
D
T -3528 5050 0 0 41 0 0 0 0 1 0
4
T -6524 5050 0 0 41 0 0 0 0 1 0
1
T -5512 5050 0 0 41 0 0 0 0 1 0
2
T -4518 5050 0 0 41 0 0 0 0 1 0
3
T -2512 5050 0 0 41 0 0 0 0 1 0
5
T -1510 5050 0 0 41 0 0 0 0 1 0
6
T -512 5050 0 0 41 0 0 0 0 1 0
7
P "COMMENT_BODY" "TRUE" 104 -38 0 0 40 0 0 0 0 0 0 0 0


