P "CDS_LMAN_SYM_OUTLINE" "-11400,8150,150,-200" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
M -3918 249 124 249 -1 0
L 120 -158 -11266 -158 -1 0
L 120 8011 -11266 8011 -1 0
M 125 8110 125 -163 -1 0
M 125 41 -3917 41 -1 0
L -3746 8011 -3746 8103 -1 0
L -1250 8011 -1250 8107 -1 0
M -3917 248 -3917 -158 -1 0
L -11266 8011 -11266 -158 -1 0
L 120 8011 120 -158 -1 0
L -11267 995 -11361 995 -1 0
L -11267 2007 -11361 2007 -1 0
L -11271 3001 -11363 3001 -1 0
L -11267 4005 -11361 4005 -1 0
L -11267 5005 -11361 5005 -1 0
L -11269 6007 -11363 6007 -1 0
L -11269 6997 -11363 6997 -1 0
M 125 -163 -11364 -163 -1 0
M -11364 -163 -11364 8110 -1 0
M 125 8110 -11364 8110 -1 0
L -2498 8013 -2498 8107 -1 0
L -5004 8015 -5004 8107 -1 0
L -6252 8013 -6252 8105 -1 0
L -7500 8015 -7500 8109 -1 0
L -8750 8017 -8750 8107 -1 0
L -10000 8017 -10000 8107 -1 0
M -3516 41 -3516 -158 -1 0
M -798 -54 -3916 -54 -1 0
M -798 249 -798 -158 -1 0
M -378 40 -378 -159 -1 0
M -2648 -162 -2648 245 -1 0
T -2615 118 0 0 64 0 0 0 0 6 0
MODEL:
T -11297 -145 90 0 41 0 0 0 0 7 0
SIZE:A3
T -3750 122 0 0 64 0 0 0 0 15 0
NTS Technology
T -2623 -27 0 0 52 0 0 0 0 6 0
TITLE:
T -2616 -134 0 0 52 0 0 0 0 12 0
DRAWING NO.:
T -3880 -131 0 0 52 0 0 0 0 7 0
CHECKED
T -778 -81 0 0 52 0 0 0 0 8 0
VERSION:
T -776 104 0 0 52 0 0 0 0 11 0
SHEET    OF
T -3835 -27 0 0 52 0 0 0 0 5 0
DRAWN
T -11289 7497 90 0 64 0 0 0 0 1 0
A
T -11285 6487 90 0 64 0 0 0 0 1 0
B
T -11285 5475 90 0 64 0 0 0 0 1 0
C
T -11285 4497 90 0 64 0 0 0 0 1 0
D
T -11287 3481 90 0 64 0 0 0 0 1 0
E
T -11283 2547 90 0 64 0 0 0 0 1 0
F
T -11285 1489 90 0 64 0 0 0 0 1 0
G
T -11285 489 90 0 64 0 0 0 0 1 0
H
T -5626 8031 0 0 64 0 0 0 0 1 0
5
T -10640 8035 0 0 64 0 0 0 0 1 0
1
T -9400 8033 0 0 64 0 0 0 0 1 0
2
T -8144 8031 0 0 64 0 0 0 0 1 0
3
T -6896 8033 0 0 64 0 0 0 0 1 0
4
T -4386 8033 0 0 64 0 0 0 0 1 0
6
T -3130 8035 0 0 64 0 0 0 0 1 0
7
T -1884 8033 0 0 64 0 0 0 0 1 0
8
T -638 8029 0 0 64 0 0 0 0 1 0
9
P "COMMENT_BODY" "TRUE" 104 -38 0 0 40 0 0 0 0 0 0 0 0


