C 0 -25 "A <SIZE-1..0> \NAC" 0 -100 0 0 41 0 L
L -50 -50 50 0 -1 0
P "BODY_TYPE" "PLUMBING" 25 25 0.00 0.00 41 0 0 0 0 0 0 0 0
P "SIZE" "1" 75 -25 0.00 0.00 41 0 0 0 0 0 1 0 0
P "HDL_SLASH" "TRUE" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
