C 50 0 "A \NWC\NAC" 100 0 0 0 41 0 L
X "INPUT_LOAD" "(*,*)" 100 -100 0.00 0.00 41 0 0 0 0 0 1 0 0
P "BODY_TYPE" "FLAG" 0 50 0.00 0.00 41 0 0 0 0 0 0 0 0
P "NEEDS_NO_SIZE" "TRUE" 25 25 0.00 0.00 41 0 0 0 0 0 0 0 0
P "PATH" "?" -145 -15 0.00 0.00 33 0 0 0 0 0 1 0 0
X "HDL_PORT" "IN" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
L -25 -25 0 0 -1 0
L -150 -25 -25 -25 -1 0
L -150 25 -150 -25 -1 0
L -24 -27 3 0 -1 0
L -22 31 -156 31 -1 0
L -22 -31 9 0 -1 0
L -156 -31 -22 -31 -1 0
L -156 31 -156 -31 -1 0
L 9 0 -22 31 -1 0
L -23 -29 6 0 -1 0
L -154 -29 -23 -29 -1 0
L -154 29 -154 -29 -1 0
L -23 29 -154 29 -1 0
L 6 0 -23 29 -1 0
L -152 -27 -24 -27 -1 0
L -152 27 -152 -27 -1 0
L -24 27 -152 27 -1 0
L 3 0 -24 27 -1 0
L -25 25 -150 25 -1 0
L 0 0 -25 25 -1 0
L 50 0 0 0 -1 0
P "OFFPAGE" "TRUE" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
