T 0 25 0.00 0.00 41 0 0 0 0 8 0
DRAWING:
P "ABBREV" "NO ABBREV" 50 -100 0.00 0.00 41 0 0 0 0 0 0 0 0
P "TITLE" "NO TITLE" 50 -50 0.00 0.00 41 0 0 0 0 0 0 0 0
P "LAST_MODIFIED" "UNKNOWN" 300 -250 0.00 0.00 41 0 0 0 0 0 1 0 0
P "NEEDS_NO_SIZE" "TRUE" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
